/* $Id: graphstat.css,v 1.2.4.1 2007/11/14 22:40:52 profix898 Exp $ */

.graphstat-container {
  margin: 10px 0px;
  padding: 5px;
}

.graphstat-image {
}

.graphstat-legend {
  text-align: center;
}
