/* ROUNDED CORNERS */

.block.themed-block,
#mission, 
.comment, 
blockquote,
#search .form-text, 
#search .form-submit {
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#navlist.links a, 
#navlinks ul li a {
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-khtml-border-radius-topright: 7px;
	-khtml-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
#navlinks li ul a {
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}